body {
  font-family: "Gill Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 17px;
}

/* Page content styling */
.content {
  padding: 40px 30px;
}

.content .header {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.nav a img {
  display: block;
  width: auto;
  height: 17px;
}

.nav {
  overflow: hidden;
  background-color: #333333;
  width: 100%;
  position: fixed;
}

.nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 30px;
}

.nav a.img {
  float: left;
  display: block;
  /* color: #f2f2f2; */
  padding: 14px 16px;
  position: absolute;
  left: 0;
  top: 0;
}

.nav a.active {
  background-color: #04AA6D;
  color: white;
}

.nav a:not(.active):hover {
  background-color: #ffffff90;
  color: black;
}

.nav a:is(:first-child):hover {
  border-radius: 0;
}

.nav .menu-bar {
  display: none;
}

@media screen and (max-width: 480px) {
  .nav a:not(:first-child) {
    display: none;
  }
  .nav a.menu-bar {
    float: right;
    display: block;
  }
  .nav.responsive {
    position: relative;
  }
  .nav.responsive .menu-bar {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .nav.responsive a:first-child {
    pointer-events: none;
  }
}
