* {
  font-family: Courier, monospace, Arial, sans-serif !important;
}

h1 {
  text-decoration: underline;
}

h3 {
  font-style: italic;
  font-size: small !important;
}
a.nav-link {
  color: #000;
  padding: 8px;
}

.nav-link:hover {
  text-decoration: underline;
  color: #000;
}

.navbar {
  background-color: #acf;
}

.navbar-toggler {
  border-color: #fff;
}

.nav-item .nav-link.active {
  background-color: #59f;
  border-radius: 5px;
  color: #000;
}

img {
  transition: transform 0.3s; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
img:hover {
  transform: scale(1.05);
}
img.d-block:hover {
  transform: none;
}

body {
  font-size: 20px !important;
}

.container {
  width: 70% !important;
  min-width: 310px;
  margin: 0 auto;
}
